:root {
  --bg-color: #2f4454;
  --bg-color-2: #376E6F;
  --bg-color-3: #1C3334;
  --text-color: #DA7B93;
  --hovers: #2E151B;
}


body {
  margin:0;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

nav {
  opacity: 70%;

}

main {
  margin: 10px;
}

.top {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-color-2);
  position: fixed;
  top: 0;
  width: 100%;
}

.top li {
  float: left;
}

.top li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.top li a:hover {
  background-color: var(--hovers);
  border-radius: 10px;
  transform: scale(1.2);
}

input[type=text] {
  box-sizing: border-box;
  border: 10px double var(--hovers);
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--bg-color);
  text-align: center;
  padding: 12px 20px 12px 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left:0%;
  top:0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgb(0,0,0,0.4);
  padding: 5px;
}

.header {
  background-color: var(--bg-color-3);
  text-align: center;
  padding: 20px;
}

.search-results {
  padding: 10px;
  background-color: var(--bg-color-3);
}

#search-form {
  background-color: var(--bg-color-2);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-color-2);
}

#first {
    padding-top: 50px;
}

.P {
    background-color: var(--bg-color-3);
}

.P li {
    list-style-type: none;
}

#games {
    background-color: var(--bg-color-3);
}

#movies {
    background-color: var(--bg-color-3);
    margin-bottom: 25px;
}

#gameButton {
    color: var(--text-color);
    background-color: var(--hovers);
    border-radius: 10px;
    text-align: center;
    border: 5px;
    padding: 10px 50px;
    border-style: inset;
}

#gameButton:hover {
  background-color: var(--bg-color-2);
}

#movieButton {
    color: var(--text-color);
    background-color: var(--hovers);
    border-radius: 10px;
    text-align: center;
    border: 5px;
    padding: 10px 50px;
    border-style: inset;
}

#movieButton:hover {
  background-color: var(--bg-color-2);
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }